$accentColor = lighten(#5d6070, 15)
$textColor = #343434
$borderColor = #eaecef
$codeBgColor = #000000
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
